  <!-- <h1>Update 2</h1>

  <form action="/login" method="POST">
  <input type="text" placeholder="email" name="email">
  <input type="text" placeholder="password" name="password">
  <button type="submit">Submit</button>
  </form> -->

  <h1>Update 3</h1>

  <form action="/login" method="POST">
  <input type="text" placeholder="email" name="email">
  <input type="text" placeholder="password" name="password">
  <input ng-model='$ctrl.coord' type="text" placeholder="don't type" name="coord">
  <button type="submit">Submit</button>
  </form>
  <button ng-click='$ctrl.submit()' >LoadMap</button>

  <h1>coyote{{$ctrl.wolf}}</h1>